body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ebebeb;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #a71c1c;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.output {
  margin-top: 20px;
  background: #e9f7ef;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
